###############################################
# Build & Maven / Gradle
###############################################
target/
build/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

###############################################
# IDEs
###############################################
.idea/
*.iws
*.iml
*.ipr

.vscode/

.nb-gradle/
nbbuild/
dist/
nbdist/

###############################################
# Logs
###############################################
*.log
logs/

###############################################
# OS
###############################################
.DS_Store

###############################################
# Secrets / Konfig
###############################################
.env
application.properties
application.yml

###############################################
# Sonstiges
###############################################
*.tmp
